html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: aliceblue;

}

dialog {
  width: auto;
  height: auto;
}

dialog {
  background-color: aliceblue;
}

h1 {
  color: aqua;
  background-color: black;
  width: 125px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  color: aquamarine;
  background-color: black;

  width: 125px;
  border-radius: 10px;
  text-align: center;
}

.left-col:after {

  content: "";
  display: table;
  clear: both;

}

p {
  font-size: 18px;
  border: 2px solid black;
}

.outer-container {

  padding: 2em;
  flex: auto;
  flex-direction: column;

}

.container {
  font-family: 'Times New Roman', Times, serif;

}

.col {
  float: left;
  width: 50%;
}

.contact {
  margin: 0;

  width: 250px;
}

a {
  text-align: center;
  display: block;
}